/**=====================
    Shipping CSS start
==========================**/
.select-country-sec {
    border: 1px dashed #0da487;
    background-color: #0da4870f;
    padding: 35px;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
}

.no-selection {
    text-align: center;
    img {
        width: 35%;
        margin-top: 25px;
        opacity: 0.8;
    }
    p {
        font-size: 18px;
        margin-bottom: 0;
        padding-bottom: 40px;
    }
}
